:root {
    --yellow-color: #ff9300;
    --white-color: #eee;
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    font-family: 'Lato', sans-serif;
    position: absolute;
}

header {
    display: flex;
    align-items: center;
    height: 12vh;
    margin: 0 50px;
    justify-content: space-between;
    flex-grow: 0;
}

.logo {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    margin: 0px;
}

#since {
    margin: -5px 0 0 3px;
    color: var(--yellow-color);
    font-weight: bold;
}

h2 {
    font-size: 27px;
    letter-spacing: 3px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

img {
    height: 45px;
    width: 45x;
    margin: 5px 10px 0 0;
}

nav {
    float: right;
}

ul {
    display: flex;
    list-style-type: none;
    padding-top: 15px;
}

li {
    padding: 0 30px 0 50px;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.nav-link:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="email"] {
    width: 70%;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px 0 80px 0;
    padding: 10px 20px;
    border: 0;
    background-color: var(--yellow-color);
    cursor: pointer;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}

input[type="submit"]:hover {
    transform: scale(1.2);
}

td {
    padding-left: 65px;
}

#video {
    width: 640px;}

#videoDescription {
    margin: 100px 0 0 0;
}

#pricing {
    display: flex;
    margin: 100px 0 50px 0;
}

#option {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 300px;
    border: 2px solid black;
    border-radius: 3.5%;
    margin: 0 10px;
    overflow: hidden;
}

h4 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 900;
    background-color: var(--yellow-color);
    height: 18%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#price {
    text-align: center;
    font-size: 27px;
    font-weight: bolder;
}

#details {
    text-align: center;
    line-height: 25px;
}

#selectButton {
    width: 40%;
    height: 40px;
    cursor: pointer;
    background-color: var(--yellow-color);
    border: 0;
    align-self: center;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;

}

#selectButton:hover {
    transform: scale(1.2);
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
}

@media (max-width:1020px) {
    h1 {
        font-size: 20px;
    }

    #since {
        font-size: 14px;
    }

    .nav-link {
        font-size: 15px;
    }
}

@media (max-width: 980px) {
    #option {
        width: 250px;
    }
}

@media (max-width: 820px) {
    #pricing {
        flex-direction: column;
    }

    #option {
        width: 300px;
        margin-bottom: 30px;
    }

    .nav-link {
        font-size: 15px;
    }

    li {
        padding: 12px;
    }
 
}


@media (max-width: 650px) {
    #video {
        width: 90vw;
    }

    #videoDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 626px) {
    nav {
        display: none;
    }

    header {
        justify-content: center;
    }

    #description {
        font-size: 14px;
    }

    h3 {
        font-size: 20px;
    }

    table {
        margin-right: 20px;
    }
}